<h1>Oficialia de partes</h1>

<p>
  <strong><a href="no_de_oficios/new">Solicitar Noumero de Oficio</a></strong>
</p>
<p>
  <strong><a href="no_de_correos/new">Solicitar Noumero de Correo</a></strong>
</p>
<p>
  <strong><a href="no_de_oficios">Ver Numeros de Oficios Entregados</a></strong>
</p>
<p>
  <strong><a href="no_de_correos">Ver Numeros de Correos Entregados</a></strong>
</p>
<p>
  <strong><a href="registros">Ver oficios registrados</a></strong>
</p>

<p>
  <strong><a href="user">administrar usuarios</a></strong>
</p>
